.home-transactions {
  height: 60%;
  width: 50%;
  padding: 10px;
  padding-left: 0;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.home-transactions::-webkit-scrollbar {
  display: none;
}

.home-transactions {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.trans-card {
  min-height: 40px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #404040;
}

.trans-card-left {
  font-size: small;
}
.trans-card-left h4 {
  margin-top: 0;
  margin-bottom: 4px;
}

.income {
  color: #6c74bd;
}

.expense {
  color: #f08895;
}
